h1{
    color: white;
    text-align: center;
    margin-top:  50px;
}

.title{
    background-color: blue;
}
body{
    background-color: beige;
}


.displayteam{
    background-color: lightskyblue;
    margin: auto;
}

.container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}